{% extends "base.html"%}
{% load static %}
{% block body %}

<!-- ======= About Section ======= -->
<section id="about" class="about" style="margin-top: 120px;">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <!-- <h2>제리멘토</h2> -->
      <h3>백발백중 <span>제리멘토</span></h3>
      <p>8년 연속 BEST 전문가의 진면목!
        투자의 정확한 가치와 타이밍!</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
        <img src="https://t1.daumcdn.net/cfile/tistory/99A4B13D5C0D1CE01A" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
        data-aos-delay="100">
        <h3>투자는 가치와 타이밍이다!</h3>
        <p class="font-italic">
          OB리그 종합2위
          2006년 투자자문사 근무,경제TV출연
        </p>
        <ul>
          <li>
            <i class="bx bx-store-alt"></i>
            <div>
              <h5>2002~2008년 T사, F사 전문가</h5>
              <p>제가, 이 분야에서는 전문가입니다</p>
            </div>
          </li>
          <li>
            <i class="bx bx-images"></i>
            <div>
              <h5>2005년 동양증권 실전투자대회 7주연속 1위</h5>
              <p>제가, 이 분야에서는 전문가입니다</p>
            </div>
          </li>
        </ul>
        <p>
          제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다
          제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다
          제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다제가, 이 분야에서는 전문가입니다
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Section -->

{% endblock %}