{% extends "base.html" %}
{% block body %}
<div class="pt-header pb-footer">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3>공지/이벤트<span></span></h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">조회수</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ann in announcements %}
                    <tr>
                        <th scope="row">{{ ann.id }}</th>
                        <td>{{ ann.title }}</td>
                        <td>{{ ann.writer }}</td>
                        <td>{{ ann.created_at }}</td>
                        <td>{{ ann.view_cnt }}</td>
                    </tr>
                    {% endfor %}                    
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}