{% extends "base.html" %}
{% block body %}
<div class="pt-header pb-footer">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3>멘티간 종목추천<span></span></h3>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                        <th scope="col">조회수</th>
                        <th scope="col">좋아요</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>
                    <tr>
                        <th scope="row">18626</th>
                        <td>[오전시황] 한달 만에 코스피 2,200 회복 사진</td>
                        <td>착한여우</td>
                        <td>2020.09.26</td>
                        <td>2</td>
                        <td>1233</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}