{% extends "base.html" %}
{% block body %}

<div class="pt-header pb-footer">
    <div class="container">
        <div class="row">
            <div class="section-title">
                <h3>수익률인증</h3>
            </div>

            <div class="album py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                              <img class="bd-placeholder-img card-img-top" width="100%" height="225"
                                src="https://image.fmkorea.com/files/attach/new/20200313/192159903/2259679781/2823652152/668435a2b35e80d9c642fced126e686e.png"
                                xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                aria-label="Placeholder: Thumbnail">
                              </img>
                              <div class="card-body">
                                <p class="card-text">
                                  칼같은 단타매매 최저점 매수 고점매도 감사합니다 급락장 노대표님 짱
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">더보기</button>
                                  </div>
                                  <small class="text-muted">2020.09.11</small>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}