{% extends "base.html" %}
{% load static %}
{% block title %} Login {% endblock %}

{% block body %}
<section class="pt-header">
    <form class="form-signin">

        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'img/apple-touch-icon.png' %}" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">회원가입</h1>
        </div>

        <img id="btn_kakao_login" class="btn btn-block" src="{% static 'img/kakao_login_medium_wide.png' %}">
        <hr>

        <div class="form-group">
            <label for="input_email">아이디(이메일)</label>
            <input type="email" class="form-control" id="input_email">
        </div>

        <div class="form-group">
            <label for="input_pw">비밀번호</label>
            <input type="password" class="form-control" id="input_pw">
        </div>

        <div class="form-group">
            <label for="input_re_pw">비밀번호 확인</label>
            <input type="password" class="form-control" id="input_re_pw">
        </div>

        <div class="form-group">
            <label for="input_phnum">휴대폰번호</label>
            <input type="text" class="form-control" id="input_phnum">
        </div>

        <div class="form-group">
            <small id="login_warning" class="form-text text-danger">아이디 혹은 비밀번호를 확인해주세요!</small>
        </div>

        <div class="form-group">
            <p class="pb-3">
                본인은 만 14세 이상이며, 엔포지션의
                <a href="https://www.naver.com" target="_blank">서비스 이용약관</a>,
                <a href="https://www.youtube.com" target="_blank">개인정보 수집 및 이용</a>,
                <a href="https://www.google.com" target="_blank">개인정보 제공 내용</a>
                <a href="https://www.yahoo.com" target="_blank">전자금융거래이용약관</a>,
                <a href="https://www.naver.com" target="_blank">마케팅 수신 동의</a>
                을 확인 하였으며, 동의합니다.
            </p>
        </div>

        <button type="submit" class="btn btn-block btn-primary">동의하고 가입하기</button>

    </form>
</section>

{% endblock %}